.video-player {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #1a1a1a;
    border-radius: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 10px;*/
    padding: 10px;
}
.timebar-container {
    position: relative;
    width: 100%;
    /* height comes from Timeline (e.g. 50px) */
}
.time{
    font-size: 12px;
}
.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.video-element {
    width: 100%;
}

.timeline {
    position: relative;
    height: 8px;
    background: #ddd;
    cursor: pointer;
    margin-top: 12px;
}


button {
    background-color: transparent;
    border: none;
    color: darkgray;
    cursor: pointer;
}